header {
  width: 100%;
  background-color: #f55f55;
}

.profile svg,
.profile img {
  width: 2.5em;
  height: 2.5em;
  color: #343a40;
  background-color: #fff;
  border-radius: 50%;
}
.profile img {
  padding: 1px;
}
.profile svg:hover,
.profile img:hover {
  color: #1d2023;
  cursor: pointer;
}

.menu svg {
  width: 1.5em;
  height: 1.5em;
}

svg {
  width: 1.8em;
  height: 1.8em;
}

.title {
  color: white;
  font-size: 40px;
  text-decoration: none;
  text-shadow: 2px 2px 0 black;
  letter-spacing: 0.0175em;
}

.logo > a {
  text-decoration: none;
}

.modalStyle .modal-body {
  justify-content: space-evenly;
  display: flex;
}

.dropdown-toggle::after {
  display: none;
}

a.dropdown-item:hover {
  background-color: #e3e3e3;
}

@media (max-width: 575.98px) {
  header > div {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
}
