.profile svg {
  width: 2.5em;
  height: 2.5em;
  color: #343a40;
}
.profile svg:hover {
  color: #1d2023;
  cursor: pointer;
}

.menu svg {
  width: 1.5em;
  height: 1.5em;
}

svg {
  width: 1.8em;
  height: 1.8em;
}

header {
  height: 75px;
}

.modalStyle .modal-body {
  justify-content: space-evenly;
  display: flex;
}

.dropdown-toggle::after {
  display: none;
}

a.dropdown-item:hover {
  background-color: #ff9a0347;
}
